
.RegisterContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: linear-gradient(135deg, #d16ba5, #c777b9); /* purple-pink gradient */
}


.RegisterCard {
  background: #fff;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}


.h1Register {
  margin-bottom: 20px;
  font-weight: bold;
  color: #c777b9; 
}


.RegisterButton {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: #d16ba5 !important; 
  border: none;
}

.RegisterButton:hover {
  background-color: #c777b9 !important; 
}
